<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUARIOS</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>


    <h1>USUARIOS</h1>
 <form method="post" class="form-inline">
                <div class="form-group mb-2">
                    <label for="pesquisar" class="sr-only">Pesquisar</label>
                    <input type="text" class="form-control" id="pesquisar" placeholder="Pesquisar" name="pesquisar">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
                  
                
            </form>

    <table border="1">
        
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Opções</th>
        </tr>
        <% Usuarios.forEach(function(usuario){%>
        <tr>
            <td><%=usuario._id%></td>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td>
            <td><%=usuario.senha%></td>
            <td>
                <a href="/admin/usuario/edtusuario/<%=usuario._id %>">Editar</a> |
                <a href="/admin/usuario/delusuario/<%=usuario._id %>">Deleta</a>
               
         
            </td>
        </tr>

        <%}) %>
        
    </table>

    <br>

    <a href="/admin/usuario/addusuario" class="botao">Adicionar Novo Usuario</a> <br> <br><br><br>
    <a href="/">Inicio</a>

</body>

</html>

