<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOGO</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>


    <h1>Jogos</h1>
     <form method="post" class="form-inline">
                <div class="form-group mb-2">
                    <label for="pesquisar" class="sr-only">Pesquisar</label>
                    <input type="text" class="form-control" id="pesquisar" placeholder="Pesquisar" name="pesquisar">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
                  
                
            </form>

    <table border="1" enctype="multipart/form-data">
        
        <tr>
            
            <th>ID</th> 
            <th>Nome</th>
            <th>Desenvolvedora</th>
            <th>Preço</th>
            <th>Data de Lançamento</th>
            <th>Imagem</th>
            <th>Opções</th>
        </tr>
        <% Jogo.forEach(function(jogo) { %>
            <tr>
                <td><%= jogo.id %></td>
                <td><%= jogo.nome %></td>
                <td><%= jogo.desenvolvedora %></td>
                <td><%= jogo.preco %></td>
                <td><%= jogo.datadelancamento.toLocaleString("pt-BR") %></td>
                <td>
                    <img src="/img/<%= jogo.imagem %>" class="img-jogo">
                </td>
                
                
                
                <td>
                    <a href="/admin/Jogos/edtjogo/<%= jogo.id %>">Editar</a> |
                    <a href="/admin/Jogos/deljogo/<%=jogo._id %>">Excluir</a> |
                    <a href="/admin/chave/addchave">Chaves</a>
                    
                </td>
            </tr>
        <% }) %>
        
    </table>

    <br>

    <a href="/admin/jogos/addjogo" class="botao">ADICIONAR NOVO JOGO</a> <br><br><br>
    <a href="/">Inicio</a>

</body>

</html>